In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# описание данных https://ggplot2.tidyverse.org/reference/diamonds.html
df = sns.load_dataset('diamonds') # загрузим датасет 
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
# определите, сколько алмазов какого cut находятся в таблице

In [4]:
# определите встерчаемость цветов в таблице (сколько раз встретился каждый цвет)

In [5]:
# определите самый популярный цвет для каждого cut
#

# подсказка
# можно сгруппировать по cut и color сразу. а дальше, например, count и nlargest

In [6]:
# представим, что нашим алмазы -- прямоугольные параллелепипеды. 
# тогда объём алмаза -- произведение трех его измерений (x, y, z)
# создайте столбец V со значанием объёма алмаза

In [7]:
# отфильтруйте те строки в датафрейме, для которых среднее значение carat в их группе cut больше 0.85
#

In [8]:
# для каждой группы по cut посчитайте в одну таблицу (сразу же, за 1 шаг)
# среднее и медианное значение price, размах (минимум минус максимум) и максимальное значение

In [9]:
# в исходном датафрейме создайте столбец max_price со значением максимальной цены для алмаза из группы по cut
# то есть, если первые две строки относятся к группе Good, то у них в столбце max_price стоит цена самого дорогого
# алмаза из группы Good

In [10]:
# создайте столбец relative_max, где записано, какую долю (в процентах) от максимальной цены алмаза внутри группы по cut
# составляет цена этого алмаза
# то есть если алмаз на 30 строке стоит 0.5 единиц, а самый дорогой алмаз для его гурппы по cut стоит 2 ед.,
# то тогда в столбце relative_max должно находиться 25